body {     background-color: lightgray; 
} 
h1 { font-family: calibri; color: gray;     
} 
p {     font-family: calibri;     font-size: 14px; 
}
a {     font-family: calibri;     font-size: 18px;
}
ul {
  font-family: calibri;
}
